/* ********* */
/* @VARIABLES */
/* ********* */
$colorfondo-movilprincipal:#FFE3E3;
$colorfondo-movillogin: #DFF2F0;
$colorboron-principalmovil: #E74C84;
$colorboton: #7F265B;

$mediaDesktop-820:820px;
$mediaDesktop-1500:1500px;
