/* ********* */
/* @VARIABLES */
/* ********* */
$colorfondo-movilprincipal:#FFE3E3;
$colorfondo-movillogin: #DFF2F0;
$colorboton-principalmovil: #E74C84;
$colorbotondesktop: #7F265B;
$colornavbar-desktop: #7F265B;


/*formatos*/
$mediaTablet-420: 420px;
$mediaTablet-640:640px;
$mediaTablet-768: 768px;
$mediaDesktop-820:820px;
$mediaDesktop-1500:1500px;