/* ********* */
/* @HEADER */
/* ********* */
// body{
// background-color: $colorfondo-movilprincipal;
// }
body{
    background-color:$colorfondo-movilprincipal;
}

.contenedor-header{
    background-color: $colorfondo-movilprincipal;
    background-image: url('../public/assets/img/smartphone/principal@2x\ \(1\).webp');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    min-height: 560px;


.contenedor-nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 20px;
    position: relative;
      .contenedor-logo{
        display: flex;
        justify-content: center;
        align-items: center;
      }
      .icono-menu{
        display: block;
        width: 25px;
        height: 25px;
        background-image:url('/public/assets/img/svg/icon-hamburger.svg') ;
      
      background-size: inherit;
      background-repeat: no-repeat;
      background-position: center;
      cursor: pointer;
      opacity: 100%;
      transform: rotate(0deg);
      transition: 250ms;
      }
        .menu-mobil{
            display: none;
            width: 100%;
            padding: 0 20px;
            position: absolute;
            top: 108px;
            left: 0px;
            animation: fade 250ms forwards ease-in;
        }
}
}

.menu-mobil__contenedor{
    min-width: 335px;
    width: 100%;
    height: 335px;
    background-color: $colorfondo-movillogin;

    &::before{
        position: absolute;
        top: -24px;
        right: 20px;
        clip-path: polygon(100% 0, 0 100%, 100% 100%);
        content: '';
        width: 25px;
        height: 25px;
        background-color: $colorfondo-movillogin;
    }
    .menu-links-contenedor{
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        width: 100%;
        height: 100%;
        padding: 20px;
        list-style-type: none;
        & a {
            text-decoration: none;
            color: $colorfondo-movillogin;
            cursor: pointer;
            font-size: 1.2rem;
            transition: 400ms ease-out;

            &:hover{
                color: $colorfondo-movillogin;
            }
        }
    }

}