/* ********* */
/* @NAVIGATOR */
/* ********* */
.texto_cuidador{
    background-color: violet;
    color: white;
    padding: 20px;
}

.main_cuidadores{
    display: flex;
    flex-wrap: wrap;
    margin: 20px;
}
