@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap');

:root {
    --login-bg:#f8f3ff;
    --title-bg: #9089cc;
    --button-bg: #674baf;
    --light-pink: #e882e8;
    --image-bg:  #eadbff ;
}


.login-container {
    height: 33.75em;
    width: 70em;
    margin: 9em auto;
    border-radius: 10px;
    display: flex;
    justify-content: space-between;
    overflow: hidden;
}

.login-container2 {
    height: 43.75em;
    width: 80em;
    margin: 4em auto;
    border-radius: 10px;
    display: flex;
    justify-content: space-between;
    overflow: hidden;
}


.login-info-container {
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding-top:2em;
    background-color: var(--login-bg);
}


.login-info-container2 {
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding-top:2em;
    background-color: var(--login-bg);
}

.image-container {
    /* padding: 2rem; */
    width: 50%;
    background-color: var(--image-bg);
    box-sizing: border-box;
}

.image-container2 {
    /* padding: 2rem; */
    width: 60%;
    background-color: var(--image-bg);
    box-sizing: border-box;
    height: 720px;
}

.title {
    text-transform: capitalize;
    font-size: 2.25rem;
    font-weight: 200;
    letter-spacing: 1px;
    color: var(--title-bg);
}




/* 
.social-login-element img {
    width: 1.875rem;
    height: 1.875rem;
    position: relative;
    top: 0;
    left: -0.625rem;
} */

/* .social-login-element:hover {
    background-color: #fff;
} */

.login-info-container > p {
    font-size: 1.25em;
    margin-top: 1.5em;
}

.inputs-container {
    height: 55%;
    width: 85%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
 
}

.inputs-container2 {
    height: 65%;
    width: 75%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
 
}

.input, .btn {
    width: 90%;
    height: 3.125rem;
    font-size: 1em;
    margin: 10px;
}

.input2, .btn2 {
    width: 90%;
    height: 3.125rem;
    font-size: 1em;
    margin: 10px;
}

.input {
    padding-left: 20px;
    border: none;
    border-radius: 5px;
    font-weight: 600;
    letter-spacing: 1px;
    box-sizing: border-box;
}

.input2 {
    padding-left: 20px;
    border: none;
    height: 300px;
    border-radius: 5px;
    font-weight: 600;
    letter-spacing: 1px;
    box-sizing: border-box;
}


.input:hover {
    border: 2px solid var(--button-bg);
}

.input2:hover {
    border: 2px solid var(--button-bg);
}

.btn {
    width: 80%;
    letter-spacing: 1px;
    text-transform: uppercase;
    color: white;
    border: none;
    border-radius: 5px;
    background-color: var(--button-bg);
    cursor: pointer;
}


.btn2 {
    width: 70%;
    height: 800PX;
    letter-spacing: 1px;
    text-transform: uppercase;
    color: white;
    border: none;
    border-radius: 5px;
    background-color: var(--button-bg);
    cursor: pointer;
}

.inputs-container p {
    margin: 0;
}

.inputs-container2 p {
    margin: 0;
}

.span {
    color: var(--light-pink);
    font-weight: 600;
    cursor: pointer;
}

.span2 {
    color: var(--light-pink);
    font-weight: 600;
    cursor: pointer;
}

@media screen and (max-width: 1000px) {
    .login-container {
        width: 70%;
        margin-top: 5rem;
    }
    .login-info-container {
        width: 100%;
        border-radius: 5px;
    }
    
    .image-container {
        display: none;
    }  
}

@media screen and (max-width: 650px) {
    .login-container {
        width: 90%;
    }
}

@media screen and (max-width: 500px) {
    .login-container {
        height: 90%;
    }

    .social-login {
        flex-direction: column;
        align-items: center;
        height: 30%;
    }

    .login-info-container > p {
        margin: 0;
    }
}